name: Unit tests

on:
  push:
  pull_request:

jobs:
  test:
    name: Run Unit Tests
    runs-on: macos-14

    steps:
      - name: Remove unused applications and simulators
        run: |
          sudo rm -rf /Applications/Xcode_14.3.1.app
          sudo rm -rf /Applications/Xcode_15.0.1.app
          sudo rm -rf /Applications/Xcode_15.1.app
          sudo rm -rf /Applications/Xcode_15.2.app
          sudo rm -rf /Applications/Xcode_15.3.app
          xcrun simctl delete all

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Run API Check
        run: ./gradlew apiCheck
        env:
          CI_FLOW: ${{ github.workflow }}

      - name: Run Lint
        run: ./gradlew lint
        env:
          CI_FLOW: ${{ github.workflow }}

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: 'latest-stable'

      - name: Prepare and open Simulator
        run: |
          xcrun simctl create iphone-15-pro "iPhone 15 Pro"
          xcrun simctl boot iphone-15-pro
          open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app

      - name: Run tests with code coverage
        run: ./gradlew check koverXmlReport
        env:
          CI_FLOW: ${{ github.workflow }}

#      DISABLED: Android instrumentation tests don't run yet on M1 see https://github.com/ReactiveCircus/android-emulator-runner/issues/392
#      - name: Run Android instrumentation tests
#        uses: reactivecircus/android-emulator-runner@v2
#        with:
#          api-level: 34
#          target: google_apis
#          arch: arm64-v8a
#          force-avd-creation: false
#          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
#          script: ./gradlew connectedCheck --stacktrace
#        env:
#          CI_FLOW: ${{ github.workflow }}
        
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.5.0
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
